/* Simple color names */
@define-color bgdark   #15161E;
@define-color bggrey   #414868;
@define-color text      #c0caf5;
@define-color lightblue #7aa2f7;
@define-color darkblue  #7aa2f7;
@define-color red       #f7768e;
@define-color orange    #e0af68;
@define-color yellow    #e0af68;
@define-color green     #9ece6a;
@define-color purple    #bb9af7;

* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	color: @text;
	background-color: @bgdark;
}
button:focused {
	background-color: @bgdark;
}

button:hover {
	background-color: @bggrey;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
